<header>
  <div class="nav nav-bar">
    <div class="container">
      <div class="row">
        <div class="col-sm-3" style=" margin-top: 10px;">
          <img src="../assets/images/logo.png" alt="logo" height="60px" style="display: inline-block">

        </div>

        <div class="col-sm-6 navContent">
          <div class="input-group mb-3">
            <input type="text" class="form-control" width="48" placeholder="Search..">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2" style="color: white"> <i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>

        <div class="col-sm-3 navContent" style="text-align: right">
          <a href="#"><i class="fa fa-facebook iconHV" style="color: white"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#"><i class="fa fa-envelope iconHV" style="color: white"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="#"><i class="fa fa-linkedin iconHV" style="color: white"></i></a>
        </div>
      </div>

    </div>

  </div>
</header>
