<hr>
<div class="container" style="padding:10px;border:1px solid #004466;width:70%;border-radius:10px">
  <table class="table table-hover">
    <tbody>
    <tr>
      <td><label>Name :</label></td>
      <td>{{ name }}</td>
    </tr>
    <tr>
      <td><label>Email :</label></td>
      <td>{{ email }}</td>
    </tr>
    <tr>
      <td><label>Description :</label></td>
      <td>{{ des }}</td>
    </tr>
    <tr>
      <td><label>Gender :</label></td>
      <td>{{ gender }}</td>
    </tr>

    </tbody>
  </table>

  <button class="btn" style="background-color: #992600;color: white" (click)="removeMe(index)"> Log Out
  </button>
</div>
